.doc-form-page {
  *, *:before, *:after {
    cursor: default;
  }
  .form-block {
    max-width: 1020px;
    margin: auto;
    font-size: 20px;
    .detail-block {
      margin-top: 30px;
      .detail-item {
        display: inline-block;
        width: 31%;
        margin-right: 3%;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}