html {
  *, *:before, *:after {
    cursor: default;
  }
}
.doc-form-page {
  .form-block {
    max-width: 1020px;
    margin: auto;
    font-size: 20px;
    .detail-block {
      margin: 50px 0;
      .detail-item {
        margin-right: 3%;
        display: inline-block;
        width: 31%;
        vertical-align: top;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .form-table-component {
      margin-bottom: 50px;
    }
  }
  .create-btn {
    position: fixed;
    top: 80px;
    right: 20px;
    color: cadetblue;
    text-decoration: underline;
    cursor: pointer;
  }
}