.search-input-component {
  position: relative;
  &-input {
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    line-height: normal;
    border: 1px solid #dddee1;
    border-radius: 4px;
    outline: none;
    font-size: 12px;
    background-color: #e5e5e5;
    transition: all .2s;

    &.allow-choose {
      background-color: #fff;
      &.focus {
        border: 1px solid #2d8cf0;
        box-shadow: 0 0 2px 1px #2d8cf0;
      }
  
      &:hover {
        border: 1px solid #2d8cf0;
      }
    }
  }
  &-search {
    position: absolute;
    list-style: none;
    margin: 5px 0;
    padding: 0 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    color: #495060;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
  }
  &-item {
    box-sizing: border-box;
    height: 28px;
    line-height: 14px;
    padding: 7px 16px;
    &.choose-select {
      &.disable {
        cursor: default;
        background-color: #e5e5e5 !important;
      }
      &.selected {
        background-color: #2d8cf0;
        color: #fff;
        &:hover {
          background-color: #2d8cf0;
        }
      }
      &:hover {
        background-color: #f3f3f3;
      }
    }
    &:first-of-type {
      margin-top: 5px;
    }
    &:last-of-type {
      margin-bottom: 5px;
    }
  }
}