.edit-block {
  padding: 15px 20px;
  .title {
    color: #bfbfbf;
  }
  .input-block {
    // width: 
    display: inline-block;
    input {
      font-size: 16px;
    }
  }
  .name-input {
    width: 20%;
  }
  .type-input {
    margin-left: 5%;
    width: 20%;
  }
  .explain-input {
    width: 40%;
  }
  .example-input {
    margin-left: 5%;
    width: 40%;
  }
  .enum-input {
    width: 40%;
  }
  .parents-input {
    margin-left: 5%;
    width: 40%;
  }
  .edit-btn-block {
    padding: 10px;
    span {
      margin-right: 20px;
      text-decoration: underline;
      cursor: pointer;
    }
    .disable {
      color: #ccc;
      cursor: default;
    }
  }
}